@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
@import 'tailwindcss';

@theme {
	--color-white: #fafafa;
	--color-black: #1a1a1a;
	--color-gray: #cccccc;
	--color-grayer: #dddddd;

	--font-zenkaku: Zen Kaku Gothic New, sans-serif;
}
