services:
  postgres:
    image: postgres:16
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5433:5432
    volumes:
      - ./dbinit:/docker-entrypoint-initdb.d
  
  lightdashdb:
    image: postgres:16
    environment:
      - POSTGRES_DB=lightdash
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432

  lightdash:
    image: lightdash/lightdash:latest
    platform: linux/amd64
    environment:
      PGHOST: lightdashdb
      PGDATABASE: lightdash
      PGUSER: postgres
      PGPASSWORD: postgres
      LIGHTDASH_SECRET: testtetss
      S3_ENDPOINT: 'http://minio:9000'
      S3_REGION: us-east-1
      S3_BUCKET: default
      S3_ACCESS_KEY: minioadmin
      S3_SECRET_KEY: minioadmin
      S3_FORCE_PATH_STYLE: true
    volumes:
      - ./my_project:/usr/app/dbt
    ports:
      - 8080:8080
    depends_on:
      - lightdashdb
      - minio

  minio:
    image: coollabsio/minio:latest
    ports:
      - '9000:9000'
      - '9001:9001'
    entrypoint: bash -c 'minio server /data --console-address ":9001"'
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
      - MINIO_DEFAULT_BUCKETS=default
