services:
  whodb:
    image: clidey/whodb
    ports:
      - 8080:8080
    depends_on:
      - postgres
  
  postgres:
    image: postgres:16
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5433:5432
    volumes:
      - ./dbinit:/docker-entrypoint-initdb.d
  
