services:
  postgres:
    image: postgres:16
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432
    volumes:
      - ./dbinit:/docker-entrypoint-initdb.d

  metabase:
    image: metabase/metabase
    ports:
      - 3000:3000
    environment:
      - MB_PASSWORD_COMPLEXITY=weak
    depends_on:
      - postgres
