VITE_AUTH0_DOMAIN=example.com
VITE_AUTH0_CLIENT_ID=aa
VITE_AUTH0_REDIRECT_URL=http://localhost:3000
VITE_AUTH0_AUDIENCE=https://example.com/graphql
VITE_GRAPHQL_ENDPOINT=https://example.com/graphql
VITE_GRAPHQL_REALTIME_ENDPOINT=wss://example.com/graphql
VITE_GRAPHQL_REGION=us-east-1
